<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Monitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NodaTime" publicKeyToken="4226afe0d9b296d1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Monitor.Properties.Settings>
      <setting name="ApiUserId" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ApiAccessToken" serializeAs="String">
        <value />
      </setting>
      <setting name="ChartSeriesLimit" serializeAs="String">
        <value>4000</value>
      </setting>
      <setting name="ApiBaseUrl" serializeAs="String">
        <value>https://www.quantconnect.com/api/v2/</value>
      </setting>
      <setting name="StreamHostDefault" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="StreamPortDefault" serializeAs="String">
        <value>1234</value>
      </setting>
    </Monitor.Properties.Settings>
  </userSettings>
</configuration>
